<mat-toolbar>
  <span ><strong>HISTORYMAP&nbsp;</strong></span><mat-icon class="orange" aria-hidden="false" aria-label="Example home icon">bubble_chart</mat-icon><span >&nbsp;WIEN</span>
</mat-toolbar>


<!--<mat-tab-group>-->
<!--  <mat-tab label="Map"> <app-artifact-map></app-artifact-map></mat-tab>-->
<!--  <mat-tab label="List"><app-artifact-table></app-artifact-table> </mat-tab>-->
<!--  <mat-tab label="Third"> Content 3 </mat-tab>-->
<!--</mat-tab-group>-->

<nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
<router-outlet></router-outlet>
