#mapHolder {
  height: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
}

.sidenav-container {
  height: calc(100% - 81px);
  box-sizing: border-box;
  overflow-y: hidden;
}

#mapid {
  height: 100%;
  //box-sizing: border-box;
}

.mat-drawer-content {
  overflow: hidden!important;
}


#bottomSlider {
  border-radius: 0px 10px 0px 0px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, .2);
  z-index: 999999999999;
  -webkit-transition: 300ms all ease-in-out;
  -webkit-transform: translate3d(0, +100%, 0);
}

.bottomSliderButtonHolder {
  position: relative;
  height: 0px;
}

.bottomSliderButton {
  position: absolute;
  top: -20px;
  left: 50%;
}
#bottomTemporalChart {

}

.slideIn {
  -webkit-transform: translate3d(0, 0, 0) !important;
}

@media only screen and (max-width: 500px) {
  #bottomSlider {
    border-radius: 0px 0px 0px 0px;
  }
}

#buttonRow {
  padding-left: 50px;
  position: absolute;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
  margin-top:20px;
}
.mapButton {
  //margin-top:-20px!important;
  float: right;
}

h3 {
  margin-left: 10px;
}

#matSideBarContainer {
}

#sidebarExpansionPanelHolder {
}

#sidenavButton {
  margin-right: 20px;
  margin-left: 10px;
}

#closeButtonRow {
  width:100%;
}
#sideNavCloseButton {
  position: absolute;
  right: 15px;
  top: 5px;
}
#sideClearFiltersButton {
  background-color: dimgrey;
  color: white;
  position: absolute;
  left: 5px;
  top: 5px;
}

.leaflet-popup-content {
  width: auto !important;
  margin-left: 0px;
  margin-right: 0px;
}

.leaflet-popup-tip-container {
  //left: 190px !important;
}

.leaflet-popup {
  //left: -100px !important;
}

.marker-cluster-large div {
  background-color: rgba(255, 214, 0, 0.91);
}

.marker-cluster-large {
  background-color: rgba(255, 214, 0, 0.5);
}

.marker-cluster-medium div {
  background-color: rgba(255, 255, 0, 0.91);
}

.marker-cluster-medium {
  background-color: rgba(255, 255, 0, 0.5);
}

.marker-cluster-small div {
  background-color: rgba(255, 255, 141, 0.91);
}

.marker-cluster-small {
  background-color: rgba(255, 255, 141, 0.51);
}


.mapColumnHolder {
  width: 100%;
  font-size: 0;
}

.mapChildColumn {
  font-size: 16px;
  display: inline-block;
  width: calc(50% - 2px);
}

.overlaySelect {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .mapChildColumn {
    width: 100%;
  }
}

.crop {
  width: 220px;
  height: 300px;
  overflow: hidden;
}

.crop img {
  //width: 300px;
  width:100%;
  height:100%;
  object-fit: cover;
  overflow: hidden;
  //margin: -75px 0 0 -100px;
}

.icon-div-badge {
  font-family: "Material Icons";
  color: rgba(0, 0, 0, 0.79);
  font-size: 10pt;
  position: absolute;
  //background:lightslategrey;
  //border-radius: 4px;
  right:-24px;
  top:-1px;
}

.icon-div-image {
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 5px 5px 5px grey;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-expansion-panel-content {
  overflow-y:auto !important;
}

.overlay-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

@media only screen and (max-width: 600px) {
  .mat-sidenav {
    width: 100%;
  }
}
