

<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #snav mode="side" fixedTopGap="56" position="end">
    <div id="closeButtonRow">
      <button #snavbutton mat-mini-fab color="accent"(click)="toggleSidebar();" style="float: right;">
        <mat-icon>arrow_forward</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="clearFilters();" style="float: left;">Clear Filters<mat-icon>delete</mat-icon></button>
    </div>
    <br/>
    <br/>
    <h3>Explore the collection</h3>

    <div class="example-headers-align">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Map Overlay
          </mat-panel-title>
          <mat-panel-description>
            &nbsp;
            <mat-icon>layers</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="overlaySelect">
            <mat-label>Select which historic map should be used on the map. </mat-label>
            <mat-radio-group [(ngModel)]="selectedOverlay" (change)="onOverlayChange()" aria-label="Select an option" class="overlay-radio-group">
              <mat-radio-button value="none">None</mat-radio-button>
              <mat-radio-button value="huber">Huber 1778</mat-radio-button>
              <mat-radio-button value="grimm">Grimm 1806</mat-radio-button>
              <mat-radio-button value="moerschner">Mörschner 1825</mat-radio-button>
              <mat-radio-button value="luftbild1938">Luftbild 1938</mat-radio-button>
              <mat-radio-button value="luftbild1956">Luftbild 1956</mat-radio-button>
            </mat-radio-group>
          <p>Please note that old maps normally only cover the very center of the city.</p>
<!--            <mat-select [(value)]="selectedOverlay" (selectionChange)="onOverlayChange()">-->
<!--              <mat-option value="none">None</mat-option>-->
<!--              <mat-option value="huber">Huber 1778</mat-option>-->
<!--              <mat-option value="grimm">Grimm 1806</mat-option>-->
<!--              <mat-option value="moerschner">Mörschner 1825</mat-option>-->
<!--              <mat-option value="luftbild1938">Luftbild 1938</mat-option>-->
<!--              <mat-option value="luftbild1956">Luftbild 1956</mat-option>-->
<!--            </mat-select>-->
          <br/>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Temporal Chart
          </mat-panel-title>
          <mat-panel-description>
            &nbsp;
            <mat-icon>bar_chart</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-temporal-bar-chart></app-temporal-bar-chart>
      </mat-expansion-panel>
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Keyword Cloud
          </mat-panel-title>
          <mat-panel-description>
            &nbsp;
            <mat-icon>cloud</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-keyword-cloud></app-keyword-cloud>
      </mat-expansion-panel>
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Creation Techniques
          </mat-panel-title>
          <mat-panel-description>
            &nbsp;
            <mat-icon>brush</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-technique-sunburst></app-technique-sunburst>
      </mat-expansion-panel>
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Author Network
          </mat-panel-title>
          <mat-panel-description>
            &nbsp;
            <mat-icon>people</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </div>




    <br/>

    <br/>

  </mat-sidenav>

  <mat-sidenav-content>
    <div id="buttonRow">
    <button #snavbutton matRipple id="sidenavButton" mat-fab (click)="toggleSidebar();" style="float: right;">
      <mat-icon>tune</mat-icon>
    </button>
    <button #mylocationbutton id="mylocationbutton" mat-fab (click)="centerMyLocation();" style="float: right;">
      <mat-icon>my_location</mat-icon>
    </button>
    </div>
   <div id="mapid"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
