/*agm-map {*/
/*height: 600px;*/
/*}*/

#mapid {
  height: 80vh;
}

#buttonRow {
  position: absolute;
  z-index: 999;
  width: 100%;
  margin-top:20px;
}

h3 {
  margin-left: 10px;
}

#sidenavButton {
  margin-right: 20px;
  margin-left: 10px;
}

#closeButtonRow {
  margin: 10px;
}

.leaflet-popup-content {
  width: auto !important;
}

.leaflet-popup-tip-container {
  //left: 190px !important;
}

.leaflet-popup {
  //left: -100px !important;
}

.marker-cluster-large div {
  background-color: #d84315;
}

.marker-cluster-large {
  background-color: #ff5722;
}

.marker-cluster-medium div {
  background-color: #ff5722;
}

.marker-cluster-medium {
  background-color: #ff8a65;
}

.marker-cluster-small div {
  background-color: #ff8a65;
}

.marker-cluster-small {
  background-color: #ffab91;
}


.mapColumnHolder {
  width: 100%;
  font-size: 0;
}

.mapChildColumn {
  font-size: 16px;
  display: inline-block;
  width: calc(50% - 2px);
}

.overlaySelect {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .mapChildColumn {
    width: 100%;
  }
}

.crop {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.crop img {
  //width: 300px;
  width:100%;
  height:100%;
  object-fit: cover;
  overflow: hidden;
  //margin: -75px 0 0 -100px;
}

.icon-div-badge {
  font-family: "Material Icons";
  color: rgba(0, 0, 0, 0.79);
  font-size: 10pt;
  position: absolute;
  //background:lightslategrey;
  //border-radius: 4px;
  right:-24px;
  top:-1px;
}

.icon-div-image {
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 5px 5px 5px grey;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-expansion-panel-content {
  overflow-y:auto !important;
}

.overlay-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

@media only screen and (max-width: 600px) {
  .mat-sidenav {
    width: 100%;
  }
}
