<nav>
   <strong><a routerLink="/d3-leaflet" routerLinkActive="active">HistoryMap</a></strong>
   | <a routerLink="/html-bar-chart" routerLinkActive="active">HTML Bar Chart</a>
   | <a routerLink="/svg-bar-chart" routerLinkActive="active">SVG Bar Chart</a>
   | <a routerLink="/vertical-bar-chart" routerLinkActive="active">Vertical Bar Chart</a>
   | <a routerLink="/d3-gmaps" routerLinkActive="active">D3 Gmaps</a>
   | <a routerLink="/brush-snapping" routerLinkActive="active">Brush Snapping</a>
</nav>
<router-outlet></router-outlet>
