.currentSelectedKeyword {
  fill: #ffd600 !important;
  text-decoration: underline;
  stroke:lightgray;
  stroke-width:1px;

}

.unavailableKeyword {
  fill: rgba(181, 181, 181, 0.2) !important;
  cursor: auto !important;
  pointer-events: none;
}

.keywordElement {
  cursor: pointer;
}

#description {
  display: block;
  width: 450px;
}
