.currentSelectedKeyword {
  fill: #ff5722 !important;
  text-decoration: underline;
}

.unavailableKeyword {
  fill: rgba(181, 181, 181, 0.2) !important;
  cursor: auto !important;
  pointer-events: none;
}

.keywordElement {
  cursor: pointer;
}

#description {
  display: block;
  width: 450px;
}
