/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tooltip {
  font-size: 15px !important;
  background-color: rgba(0, 0, 0, .8) !important;
}

.infoIcon {
  color: #4caf50;
  cursor: help;
  //font-weight: bolder;
  margin-left: 10px;
  margin-top: 10px;

  webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.mat-tab-link-container {
  height: 30px;
}

.mat-tab-link {
  height: 30px!important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 50px!important;
}


.warningIcon {
  color: red;
  //font-weight: bolder;
  margin-left: 10px;
  margin-top: 10px;
}
.mat-chip.mat-standard-chip {
  background-color: dimgrey !important;
  color: white !important;
}

.spinner-div {
  z-index: 10;
  position:fixed;
  top: 50%;
  left: calc(50% - 50px);
}

.spinner-div-text {
  font-size: 12px;
  position:relative; top: -58px; left: 20px;
}

//.cdk-global-overlay-wrapper {
//  display: flex;
//  position: absolute;
//  z-index: 1000;
//  overflow: auto;
//  pointer-events: all;
//}
