

.bar:hover {
  fill: rgba(126, 208, 255, 0.6);
}

.axis text {
  font-size: 8px;
}

.axis path,
.axis line {
  fill: none;
  stroke: gray;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


.bar-1650 { fill: #EF11BD;}
.bar-1660 { fill: #EE12D4;}
.bar-1670 { fill: #ED13EA;}
.bar-1680 { fill: #D914EC;}
.bar-1690 { fill: #C215EB;}
.bar-1700 { fill: #AB16EA;}
.bar-1710 { fill: #9417E9;}
.bar-1720 { fill: #7E18E8;}
.bar-1730 { fill: #6819E7;}
.bar-1740 { fill: #531AE6;}
.bar-1750 { fill: #3E1BE5;}
.bar-1760 { fill: #2A1CE4;}
.bar-1770 { fill: #1D24E3;}
.bar-1780 { fill: #1D39E2;}
.bar-1790 { fill: #1E4EE1;}
.bar-1800 { fill: #1F63E0;}
.bar-1810 { fill: #2077DF;}
.bar-1820 { fill: #218BDE;}
.bar-1830 { fill: #229EDC;}
.bar-1840 { fill: #22B1DB;}
.bar-1850 { fill: #23C4DA;}
.bar-1860 { fill: #24D6D9;}
.bar-1870 { fill: #25D8C9;}
.bar-1880 { fill: #26D7B5;}
.bar-1890 { fill: #26D6A2;}
.bar-1900 { fill: #27D58F;}
.bar-1910 { fill: #28D47D;}
.bar-1920 { fill: #29D36B;}
.bar-1930 { fill: #29D259;}
.bar-1940 { fill: #2AD148;}
.bar-1950 { fill: #2BD037;}
.bar-1960 { fill: #31CF2B;}
.bar-1970 { fill: #42CE2C;}
.bar-1980 { fill: #54CD2D;}
.bar-1990 { fill: #64CC2D;}



