.bar {
  fill: #6A1B9A;
}

.bar:hover {
  fill: rgba(126, 208, 255, 0.6);
}

.axis text {
  font-size: 8px;
}

.axis path,
.axis line {
  fill: none;
  stroke: gray;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


.bar-1650 { fill: #0074D9;}
.bar-1660 { fill: #0279D0;}
.bar-1670 { fill: #057EC7;}
.bar-1680 { fill: #0883BE;}
.bar-1690 { fill: #0A88B5;}
.bar-1700 { fill: #0D8DAC;}
.bar-1710 { fill: #1093A3;}
.bar-1720 { fill: #12989A;}
.bar-1730 { fill: #159D91;}
.bar-1740 { fill: #18A288;}
.bar-1750 { fill: #1BA77F;}
.bar-1760 { fill: #1DAC76;}
.bar-1770 { fill: #20B26D;}
.bar-1780 { fill: #23B764;}
.bar-1790 { fill: #25BC5B;}
.bar-1800 { fill: #28C152;}
.bar-1810 { fill: #2BC649;}
.bar-1820 { fill: #2ECC40;}
.bar-1830 { fill: #2ECC40;}
.bar-1840 { fill: #3ACC3C;}
.bar-1850 { fill: #46CD38;}
.bar-1860 { fill: #52CE34;}
.bar-1870 { fill: #5FCF30;}
.bar-1880 { fill: #6BD02D;}
.bar-1890 { fill: #77D129;}
.bar-1900 { fill: #84D225;}
.bar-1910 { fill: #90D321;}
.bar-1920 { fill: #9CD41E;}
.bar-1930 { fill: #A8D51A;}
.bar-1940 { fill: #B5D616;}
.bar-1950 { fill: #C1D712;}
.bar-1960 { fill: #CDD80F;}
.bar-1970 { fill: #DAD90B;}
.bar-1980 { fill: #E6DA07;}
.bar-1990 { fill: #F2DB03;}
