

.bar:hover {
  fill: rgba(126, 208, 255, 0.6);
}

.axis text {
  font-size: 8px;
}

.axis path,
.axis line {
  fill: none;
  stroke: lightgray;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


#description {
  display: block;
  width: 450px;
}
