<div class="columnHolder">
  <div class="leftColumn">
    <h2>{{data.title}}</h2>
    <ul>
      <li *ngFor="let attribute of tableData"><span>{{attribute[0]}}:</span>&nbsp;{{attribute[1]}}</li>
    </ul>
    <mat-card id="newTabHint">Click on the image to open it in a new tab</mat-card>
    <br/>
  </div>
  <div class="rightColumn">
    <div>
<!--      <div class="crop">-->
        <div class="h_iframe">
        <a href='/pictureStore/{{data.onbImageId}}/{{data.onbImageId}}.jpg' target='_blank'>
          <img class="ratio" src="/pictureStore/{{data.onbImageId}}/{{data.onbImageId}}.jpg" alt="artifact medium image">
        </a>
        </div>
<!--      </div>-->
      <div class="streetview-div">
        <div class="h_iframe">
          <!-- a transparent image is preferable -->
          <img class="ratio" src="http://placehold.it/16x9"/>
          <iframe frameborder="0" [src]=getStreetviewUrl() allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
