.columnHolder {
  width: 100%;
}

.leftColumn {
  width: 50%; float:left;
}
.rightColumn {
  width: 50%; float:left;
}


ul {
  list-style-type: none;
  padding-left: 0px;
}

ul li {
  font-size: 11pt;
  position: relative;
  padding-left: 200px;
}

ul li span {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
}

.crop {
  width: 450px;
  height: 450px;
  overflow: hidden;
}

.crop img {
  //width: 300px;
  //width:100%;
  //height:100%;
  object-fit: cover;
  overflow: hidden;
  //margin: -75px 0 0 -100px;
}

.streetview-div         {width:100%;height:100%;min-height: 400px;margin:0 auto;background:#CCC}
.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}


#newTabHint {
  background-color: rgba(255, 255, 141, 0.91);
  width: auto;
  margin-right: 20px;
}

@media screen and (max-width: 800px) {
  .leftColumn, .rightColumn{width:100%;}

  ul li {
    font-size: 8pt;
    position: relative;
    padding-left: 150px;
  }
  #newTabHint {
    font-size: 8pt;
    margin-right: 0px;
  }

  .crop {
    width: 250px;
    height: 250px;
    overflow: hidden;
  }

  h2 {
    font-size: 1em;
  }

}
