<div id="description">
  <p>This chart allows to see which techniques were used to create the artifacts and their relative proportional frequency. Click on a category (e.g. photography) to inspect sub-categories</p>
</div>
<mat-card [style.backgroundColor]="'IndianRed'"><div><mat-icon>warning</mat-icon>&nbsp; The Data Quality regarding creation techniques is currently not sufficient to provide a meaningful browsing experience. Please consider this visualizations and its filter options as <strong>experimental features</strong> and don't expect any correctness of the data!</div></mat-card>
<div id="chart"></div>
