<mat-icon class="infoIcon" matTooltip="This chart allows to see which techniques were used to create the artifacts and their relative proportional frequency. Click on a category (e.g. photography) to inspect sub-categories">info_outline</mat-icon>
<mat-icon class="warningIcon" matTooltip="The Data Quality regarding creation techniques is currently not sufficient to provide a meaningful browsing experience. Please consider this visualization and its filter options as experimental features and don't expect any correctness of the data!">warning</mat-icon>
<br/>
<div id="chart"></div>
