.links line {
  stroke: gray;
}

.nodes circle {
  stroke: darkgray;
  stroke-width: 1px;
  cursor: pointer;
}

.currentSelectedAuthor {
  fill: #4caf50 !important;
  stroke: black !important;
  stroke-width: 2px!important;
}
.mouseovernode {
  fill: #afebaf !important;
}
.mouseovernodegroup {
  fill: #afebaf !important;
}

.mouseovertext {
  font-size: 15px !important;
  fill: black !important;
}

.unavailableLink {
  stroke: #E3E3E3 !important;
}

.unavailableNode {
  stroke: #e3e3e3 !important;
  fill: #ececec !important;
  cursor: auto !important;
  pointer-events: none;
}
