.links line {
  stroke: white;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer;
}

.currentSelectedAuthor {
  fill: #ffeb3b !important;
}
.mouseovernode {
  fill: #ffab91 !important;
}
.mouseovernodegroup {
  fill: #FF337D !important;
}
