.links line {
  stroke: gray;
}

.nodes circle {
  stroke: darkgray;
  stroke-width: 1px;
  cursor: pointer;
}

.currentSelectedAuthor {
  fill: #ffeb3b !important;
  stroke: black !important;
  stroke-width: 2px!important;
}
.mouseovernode {
  fill: #ffab91 !important;
}
.mouseovernodegroup {
  fill: #ffab91 !important;
}
