<mat-icon class="infoIcon" matTooltip="This Chart shows the authors with most the most artifacts in the collection. The bigger the circle, the more artifacts were created by the author. Authors with less than 5 artifacts are combined as 'Others'">info_outline</mat-icon><br/>
<form>
  <mat-form-field class="search-form">
    <input type="text"
           placeholder="Search Graph"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.id">
        "{{option.name}}({{option.value}})"
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<svg class="bubbles" width="500" height="500"></svg>
