



<p>
  This application was created as part of my master's thesis.
<br>
  The thesis document can be downloaded <a href="/assets/thesis.pdf">here</a>.
<br>
  Source Code for the project is <a href="https://github.com/brintal/historymap.wien/">here</a>.
<br>
  All data provided on this webpage belongs to the <a href="https://www.onb.ac.at/">Austrian National Library</a>. Specifically the collection "Wien/Bezirke" of the <a href="http://www.bildarchivaustria.at/">Bildarchiv Austria was used</a>. Usage is granted through the <a href="http://www.bildarchivaustria.at/Pages/Informationen/AGBs.aspx">terms of service</a> of the Bildarchiv Austria.
<br>
<br>
  Feel free to contact me: info@historymap.wien
</p>
